@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary-light: #ff99d1;
  --color-primary: #ff0695;

  --color-theme-blue: #383acf;
  --color-theme-blue-light: #66dfff;
  --color-theme-cyan: #61e2e5;
  --color-theme-green: #2b8364;
  --color-theme-green-light: #98d354;

  --font-special: "Amertha", sans-serif;

  /* animations */

  --animate-marquee: slide-left 10s linear infinite;
  --animate-shiny: shiny 5s linear forwards infinite;

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-100% - 1rem));
    }
  }

  @keyframes shiny {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

@layer {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-primary-light);
    border: 1px solid #fff;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff0593a8;
    border: 1px solid #fff;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }
}

@font-face {
  font-family: "Amertha";
  src: url("/fonts/amertha.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 1000ms;
}

.text-stroke {
  -webkit-text-stroke: 0.1rem white;
}
