<header class="sticky top-0 z-60 animate-blur-header">
  <nav
    class="mx-auto flex max-w-6xl items-center justify-between px-4 py-6 pb-0 uppercase lg:px-8"
    aria-label="Global"
  >
    <div class="flex flex-1">
      <div class="hidden lg:flex lg:gap-x-12">
        <a
          href="/#info"
          class="relative text-sm/6 font-semibold text-gray-900 after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-[#FF0695] after:transition-all after:duration-300 hover:text-[#FF0695] hover:after:w-full"
          >Info</a
        >
        <a
          href="/#faq"
          class="relative text-sm/6 font-semibold text-gray-900 after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-[#FF0695] after:transition-all after:duration-300 hover:text-[#FF0695] hover:after:w-full"
          >Preguntas</a
        >
        <a
          href="/hoja-de-responsabilidad.pdf"
          class="relative text-sm/6 font-semibold text-gray-900 after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-[#FF0695] after:transition-all after:duration-300 hover:text-[#FF0695] hover:after:w-full"
          >Aut. Menores</a
        >
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          id="open-menu-button"
          class="hover:text-primary -m-2.5 inline-flex cursor-pointer items-center justify-center rounded-md p-2.5 text-gray-700 transition-all duration-300 will-change-transform hover:scale-125"
        >
          <span class="sr-only">Abrir Menú Principal</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
    </div>
    <a
      href="https://lolalolitaland.com"
      class="-m-1.5 inline-block p-1.5 transition hover:scale-125"
    >
      <span class="sr-only">Lola Lolita Land</span>
      <span class="text-4xl">🌸</span>
    </a>
    <div class="flex flex-1 justify-end">
      <div class="relative flex flex-col items-end">
        <span class="relative cursor-not-allowed text-sm/6 font-semibold text-gray-400"
          >Comprar Entradas <span aria-hidden="true">&rarr;</span></span
        >
        <span
          class="absolute -bottom-4 mt-1 w-full text-center text-[10px] text-[#FF0695] normal-case"
          >Próximamente...</span
        >
      </div>
    </div>
  </nav>
  <dialog
    class="z-50 max-h-full max-w-full size-full lg:hidden starting:-translate-x-full transition-(display) translate-x-0 duration-300 transition-discrete [&:not([open])]:-translate-x-full"
    id="mobile-menu"
    role="dialog"
    aria-modal="true"
  >
    <div class="z-10 overflow-y-auto bg-white px-6 py-6">
      <div class="flex items-center justify-between">
        <div class="flex flex-1">
          <button
            type="button"
            id="close-menu-button"
            class="hover:text-primary -m-2.5 cursor-pointer rounded-md p-2.5 text-gray-700 transition-all duration-300 ease-in will-change-transform hover:scale-125"
          >
            <span class="sr-only">Cerrar Menú</span>
            <svg
              class="size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-6 space-y-2">
        <a
          href="/#info"
          class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
          >Info</a
        >
        <a
          href="/#faq"
          class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
          >Preguntas</a
        >
        <a
          href="/hoja-de-responsabilidad.pdf"
          class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
          >Aut. Menores</a
        >
        <a
          href="/#tickets"
          class="border-primary-light bg-primary-light/20 -mx-3 block rounded-lg border px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
          >Comprar Entradas</a
        >
      </div>
    </div>
  </dialog>
</header>

<script>
  // Get the menu elements
  const mobileMenu = document.getElementById("mobile-menu")
  const openMenuButton = document.getElementById("open-menu-button")
  const closeMenuButton = document.getElementById("close-menu-button")
  const mobileItems = mobileMenu?.querySelectorAll("a")

  const toggleMenu = () => {
    mobileMenu.open
      ? mobileMenu.close()
      : mobileMenu.showModal()
  }

  // Add event listener to open menu button
  openMenuButton?.addEventListener("click", toggleMenu)

  // Add event listener to close menu button
  closeMenuButton?.addEventListener("click", toggleMenu)

  mobileItems?.forEach((item) => item.addEventListener("click", toggleMenu))
</script>

<style>
  header {
    animation: blur-header .3s linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  @keyframes blur-header {
    0% {
      backdrop-filter: blur(0);
      background-color: transparent;
    }

    100% {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.8);
      padding-bottom: calc(var(--spacing)* 6);/* pb-6 */
    }
  }
</style>