---
import Logo from "../../public/favicon.svg"
import Instagram from "../../public/icons/instagram.svg"
import TikTok from "../../public/icons/tiktok.svg"
---

<footer
  class="footer footer-horizontal footer-center bg- text-primary-content flex flex-col items-center justify-center p-10 text-center"
>
  <aside class="flex flex-col items-center">
    <Logo title="Logo de Lola Lolita Land" class="size-20 fill-white" />
    <p class="font-semibold text-white">
      Lola Lolita Land.
      <p class="mt-2 mb-2 text-xs text-pretty text-white/90">
        Copyright © {new Date().getFullYear()} - Todos los derechos reservados
      </p>
    </p>
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a href="https://www.instagram.com/lolalolita/" target="_blank" rel="noopener noreferrer">
          <Instagram name="instagram" class="fill-white" />
        </a>
        <a href="https://www.tiktok.com/@lolalolita" target="_blank" rel="noopener noreferrer">
          <TikTok name="tiktok" class="fill-white" />
        </a>
      </div>
    </nav>
  </aside>
</footer>
