---
import Instagram from "../../public/icons/instagram.svg"
import TikTok from "../../public/icons/tiktok.svg"
---

<footer
  class="footer footer-horizontal footer-center text-primary-content flex flex-col items-center justify-center p-10 text-center"
>
  <aside class="flex flex-col items-center">
    <div
      class="logo lazy_background_image_maskImage lazy_background_image relative size-28 lg:size-32"
    >
      <div></div>
    </div>
    <p class="font-semibold text-white">
      Lola Lolita Land
      <span class="block mt-2 mb-2 text-xs text-pretty text-white/90">
        Copyright © {new Date().getFullYear()} - Todos los derechos reservados
      </span>
    </p>
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a
          class="transition hover:scale-120"
          href="https://www.instagram.com/lolalolita/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Instagram name="instagram" class="fill-white" />
        </a>
        <a
          class="transition hover:scale-120"
          href="https://www.tiktok.com/@lolalolita"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TikTok name="tiktok" class="fill-white" />
        </a>
      </div>
    </nav>
  </aside>
</footer>

<style>
  .logo {
    -webkit-mask-image: url("/favicon.svg");
    mask-image: url("/favicon.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: rgb(243, 243, 243);
    position: relative;
    overflow: hidden;
  }
  .lazy_background_image_maskImage {
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("/favicon.svg");
    mask-image: url("/favicon.svg");
  }
  .lazy_background_image {
    transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }
  .logo div {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 0;
    animation: 8s linear infinite;
    background: #383acf;
    transform: translate(-300px, -70px) rotate(20deg);
    animation-name: logo_animation !important;
  }

  @keyframes logo_animation {
    0% {
      transform: translate(-300px, -70px) rotate(20deg);
    }
    100% {
      transform: translate(600px, -70px) rotate(20deg);
    }
  }
</style>
