<section class="bg-primary-light min-h-screen py-8">
  <div
    class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-5 gap-4 max-w-5xl mx-auto"
  >
    <div
      class="md:col-span-4 md:row-span-3 bg-theme-blue aspect-video rounded-2xl overflow-hidden"
    >
      <img
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
    </div>
    <div
      class="md:row-span-2 md:col-start-5 bg-primary rounded-2xl text-4xl text-center text-white font-black justify-center items-center flex"
    >
      <div class="-rotate-3 flex flex-col">
        <span>14 & 15</span><span>de junio</span>
      </div>
    </div>
    <div
      class="md:row-span-2 md:col-start-5 row-start-3 bg-primary rounded-2xl text-4xl text-center text-white font-black justify-center items-center flex"
    >
      <span class="-rotate-3 flex flex-col"> Compra tus entradas </span>
    </div>
    <div
      class="md:col-span-2 md:row-start-4 bg-primary rounded-2xl relative overflow-hidden"
    >
      <a href="/#mapa">
        <img
          class="absolute -top-20"
          src="/images/map.webp"
          alt="Mapa de la ubicación del evento de Lola Lolita Land"
        />
      </a>
    </div>
    <div
      class="md:col-span-2 md:col-start-3 row-start-4 bg-primary rounded-2xl"
    >
      5
    </div>
  </div>
</section>
