---
import { Image } from "astro:assets"

import DotBackground from "../components/DotBackground.astro"
import CalendarImage from "@/assets/images/calendario.webp"
---

<section class="relative pb-24">
  <DotBackground />
  <div class="bg-theme-blue-light relative mx-auto mb-16 aspect-video h-full w-full object-cover">
    <div
      title="Logo de Lola Lolita Land"
      class="absolute top-0 right-0 left-0 z-50 mx-auto flex justify-center lg:top-14"
    >
      <div
        class="logo lazy_background_image_maskImage lazy_background_image relative sm:size-32 md:size-44 lg:size-56"
      >
        <div></div>
      </div>
    </div>

    <img
      class="animate-fade-in relative z-10 h-full w-full object-cover"
      src="/images/hero.webp"
      alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
    />
    <div class="absolute inset-0 bg-gradient-to-b from-transparent from-85% to-[#ff0695]">
    </div>
    <div class="absolute w-full z-20" id="header-waves">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave4">
          <use xlink:href="#wave-path" x="50" y="0" class="fill-[#ff0695] opacity-30" >
        </g>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" class="fill-[#ff0695] opacity-50" >
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="6" class="fill-[#ff0695] opacity-70">
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" class="fill-[#ff0695] opacity-50">
        </g>
      </svg>
    </div>
  </div>

  <div class="mx-auto max-w-2xl lg:max-w-6xl">
    <div
      class="mx-auto flex flex-row items-center justify-center gap-x-4 text-lg font-semibold tracking-tight text-balance text-gray-950 md:gap-x-8 md:text-2xl lg:text-3xl xl:text-4xl"
    >
      <div class="shrink-0">
        <img
          class="mx-auto inline-block size-20 rounded-full md:size-24"
          src="/lolalolita-avatar.webp"
          alt="Lola Lolita"
        />
      </div>
      <span class="inline-block py-4 text-left text-white md:py-6 lg:py-8">
        ¿Estáis preparados para
        <br />
        pasar
        <span class="magic inline-block relative">
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
            </svg>
          </span>
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
            </svg>
          </span>
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
            </svg>
          </span>
          <span class="magic-text">dos días inolvidables</span>?
        </span>
      </span>
    </div>
    <div
      class="view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_0%_cover_20%] grid grid-cols-1 gap-4 pt-10 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
      id="info"
    >
      <div class="relative lg:col-span-3">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] bg-white max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]"
        >
          <div class="relative h-80 w-full overflow-hidden">
            <Image
              class="relative h-full w-full object-cover object-[85%_center] [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)] sm:object-center"
              src={CalendarImage}
              width={672}
              height={320}
              alt="Calendario con la fecha del evento LolaLolita Land 14 y 15 de junio de 2025"
            />
          </div>
          <div class="p-4 pt-4 sm:p-6 md:p-8 lg:p-10">
            <h3 class="text-primary text-sm/4 font-semibold">14 y 15 de junio</h3>
            <p class="mx-auto mt-2 text-base font-medium tracking-tight text-gray-950 sm:text-lg">
              ¡Dos días de diversión!
            </p>
            <p class="mt-2 text-xs/5 text-pretty text-gray-600 sm:text-sm/6">
              Apunta en tu calendario, porque LolaLolita Land abre sus puertas el 14 y 15 de junio
              para darle la bienvenida al verano.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-3">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] bg-white lg:rounded-tr-[calc(2rem+1px)]"
        >
          <div class="relative h-80 w-full overflow-hidden">
            <img
              class="relative h-full w-full object-cover object-center [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)]"
              src="/images/aquopolis.webp"
              alt=""
            />
          </div>
          <div class="p-4 pt-4 sm:p-6 md:p-8 lg:p-10">
            <h3 class="text-primary text-sm/4 font-semibold">La experiencia más refrescante</h3>
            <p class="mx-auto mt-2 text-base font-medium tracking-tight text-gray-950 sm:text-lg">
              Un parque acuático lleno de sorpresas
            </p>
            <p class="mt-2 text-xs/5 text-pretty text-gray-600 sm:text-sm/6">
              Este año LolaLolita Land se celebra en Aquopolis, Madrid, un parque acuático lleno de
              toboganes y piscinas.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-tr-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] bg-white lg:rounded-bl-[calc(2rem+1px)]"
        >
          <div class="relative h-80 w-full overflow-hidden">
            <img
              class="relative h-full w-full object-cover object-center [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)]"
              src="/images/lolalolita.webp"
              alt=""
            />
          </div>
          <div class="p-4 pt-4 sm:p-6 md:p-8 lg:p-10">
            <h3 class="text-primary text-sm/4 font-semibold">Segunda edición</h3>
            <p class="mx-auto mt-2 text-base font-medium tracking-tight text-gray-950 sm:text-lg">
              Para crear recuerdos inolvidables
            </p>
            <p class="mt-2 text-xs/5 text-pretty text-gray-600 sm:text-sm/6">
              El año pasado fue un éxito, y este año queremos que sea aún mejor.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-bl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] bg-white"
        >
          <div class="relative h-80 w-full overflow-hidden">
            <img
              class="relative h-full w-full object-cover object-center [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)]"
              src="/images/sorpresas.webp"
              alt=""
            />
          </div>
          <div class="p-4 pt-4 sm:p-6 md:p-8 lg:p-10">
            <h3 class="text-primary text-sm/4 font-semibold">¡Muchas sorpresas!</h3>
            <p class="mx-auto mt-2 text-base font-medium tracking-tight text-gray-950 sm:text-lg">
              Invitados especiales
            </p>
            <p class="mt-2 text-xs/5 text-pretty text-gray-600 sm:text-sm/6">
              Descubrirás a todos los invitados que nos acompañarán en el evento.
            </p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5">
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] bg-white max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]"
        >
          <div class="relative h-80 w-full overflow-hidden">
            <img
              class="relative h-full w-full object-cover object-center [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)]"
              src="/images/party.webp"
              alt=""
            />
          </div>
          <div class="p-4 pt-4 sm:p-6 md:p-8 lg:p-10">
            <h3 class="text-primary text-sm/4 font-semibold">Una fiesta para todos</h3>
            <p class="mx-auto mt-2 text-base font-medium tracking-tight text-gray-950 sm:text-lg">
              Una celebración inolvidable
            </p>
            <p class="mt-2 text-xs/5 text-pretty text-gray-600 sm:text-sm/6">
              Pasaremos un día juntos rodeados de nuestros mejores amigos y familiares.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
        >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let index = 0;
  let interval = 1000;

  const rand = (min: number, max: number) => Math.floor(Math.random() * (max - min + 1)) + min;

  const animate = (star: HTMLElement) => {
    star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
    star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

    star.style.animation = "none";
    star.offsetHeight;
    star.style.animation = "";
  }

  for(const star of (document.getElementsByClassName("magic-star") as HTMLCollectionOf<HTMLElement>)) {
    setTimeout(() => {
      animate(star);

      setInterval(() => animate(star), 1000);
    }, index++ * (interval / 3))
  }

</script>

<style>

  .logo {
    -webkit-mask-image: url("/favicon.svg");
    mask-image: url("/favicon.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: rgb(243, 243, 243);
    position: relative;
    overflow: hidden;
  }
  .lazy_background_image_maskImage {
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("/favicon.svg");
    mask-image: url("/favicon.svg");
  }
  .lazy_background_image {
    transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }
  .logo div {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 0;
    animation: 8s linear infinite;
    background: #ff0695;
    transform: translate(-300px, -70px) rotate(20deg);
    animation-name: logo_animation !important;
  }

@keyframes logo_animation {
    0% {
      transform: translate(-300px, -70px) rotate(20deg);
    }
    100% {
      transform: translate(600px, -70px) rotate(20deg);
    }
  }

  /* wave animation start */

  .waves {
    height: 80px;
    width: 100%;
    margin-top: -70px;
  }

  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .wave4 use {
    -webkit-animation: move-forever4 4s linear infinite;
    animation: move-forever3 4s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }

    100% {
      transform: translate(-90px, 0%);
    }
  }

  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }

    100% {
      transform: translate(-90px, 0%);
    }
  }

  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  @-webkit-keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }

    100% {
      transform: translate(85px, 0%);
    }
  }

  .waves > use {
    animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
  }

  @keyframes wave {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  /* letter animation START  */
  .magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }

  .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }

  .magic > .magic-star > svg > path {
    fill: #dfdf18;
  }

  .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      #383acf,
      #61e2e5,
      #383acf,
      #383acf
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  @keyframes background-pan {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }

  @keyframes scale {
    from, to {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }
  /* letter animation END */

</style>

