<section class="bg-primary-light pt-16 pb-24">
  <div
    class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-4 gap-4 max-w-5xl mx-auto"
  >
    <div class="md:col-span-4 md:row-span-3 aspect-video rounded-2xl relative hover:scale-101 transition">
      <img
        class="rounded-2xl z-10 relative"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
      <img
        class="absolute blur-xl m-auto bottom-0 h-full w-auto z-0"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
    </div>
    <div
      class="md:row-span-2 md:col-start-5 bg-white rounded-2xl text-4xl text-center text-primary font-black justify-center items-center flex hover:scale-101 transition"
    >
      <div class="-rotate-3 flex flex-col">
        <span class="text-6xl">14</span>
        <span>&</span>
        <span class="text-6xl">15</span>
        <span>de junio</span>
      </div>
    </div>
    <div
      class="md:row-span-2 md:col-start-5 row-start-3 bg-primary rounded-2xl text-4xl text-center text-white font-black justify-center items-center flex hover:scale-101 transition"
    >
      <a href="/#tickets" class="flex h-full items-center justify-center">
        <span class="-rotate-3"> Compra tus entradas </span>
      </a>
    </div>
    <div
      class="md:col-span-2 md:row-start-4 bg-primary rounded-2xl relative overflow-hidden hover:scale-101 transition"
    >
      <a href="/#mapa">
        <img
          class="absolute -top-20"
          src="/images/map.webp"
          alt="Mapa de la ubicación del evento de Lola Lolita Land"
        />
      </a>
    </div>
    <div
      class="md:col-span-2 md:col-start-3 row-start-4 bg-primary rounded-2xl hover:scale-101 transition"
    >
      5
    </div>
  </div>
</section>
