<section class="pt-12 pb-24">
  <div class="relative mx-auto mb-32 max-w-6xl">
    <img
      class="relative z-10 rounded-xl"
      src="/images/lolalolitaland-hero.webp"
      alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
    />
    <img
      class="absolute bottom-0 z-0 m-auto h-full w-auto scale-105 opacity-50 blur-xl"
      src="/images/lolalolitaland-hero.webp"
      alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
    />
  </div>

  <div class="mx-auto grid max-w-5xl grid-cols-1 gap-4 md:grid-cols-5 md:grid-rows-4">
    <div
      class="relative aspect-video rounded-2xl transition hover:scale-101 md:col-span-4 md:row-span-3"
    >
      <img
        class="relative z-10 rounded-2xl"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
      <img
        class="absolute bottom-0 z-0 m-auto h-full w-auto blur-xl"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
    </div>
    <div
      class="bg-primary-light text-primary flex items-center justify-center rounded-2xl p-2 text-center text-3xl font-black transition hover:scale-101 md:col-start-5 md:row-span-2 md:text-4xl"
    >
      <div class="text-stroke flex -rotate-3 flex-col">
        <span class="text-6xl">14</span>
        <span>&</span>
        <span class="text-6xl">15</span>
        <span>de junio</span>
      </div>
    </div>
    <div
      class="bg-primary-light text-primary row-start-3 flex items-center justify-center rounded-2xl py-3 text-center text-4xl font-black transition hover:scale-101 md:col-start-5 md:row-span-2 md:py-0"
    >
      <a href="/#tickets" class="text-stroke flex h-full items-center justify-center">
        <span class="-rotate-2">Compra tus entradas</span>
      </a>
    </div>
    <div
      class="bg-primary-light relative overflow-hidden rounded-2xl py-3 md:col-span-2 md:row-start-4 md:py-0"
    >
      <a href="/#mapa" class="flex h-full w-full items-center justify-center gap-4">
        <!-- <img
          class="absolute -top-20"
          src="/images/map.webp"
          alt="Mapa de la ubicación del evento de Lola Lolita Land"
        /> -->
        <img src="/icons/marker.svg" alt="" class="w-16 -rotate-3" />
        <p class="text-primary text-stroke flex flex-col text-4xl font-black">
          <span class="-rotate-3">Aquopolis</span>
          <span class="-rotate-3">Madrid</span>
        </p>
      </a>
    </div>
    <div
      class="bg-primary-light relative overflow-hidden rounded-2xl py-3 md:col-span-2 md:row-start-4 md:py-0"
    >
    </div>
  </div>
</section>
