---
import Cerave from "@/assets/cerave.svg"
import Dkny from "@/assets/dkny.svg"
import Donettes from "@/assets/donettes.svg"
import InfoJobs from "@/assets/infojobs.svg"
import Trolli from "@/assets/trolli.svg"

import BubbleBackground from "@/components/BubbleBackground.astro"
import WaveSeparator from "@/components/WaveSeparator.astro"
import { Image } from "astro:assets"
import Sponsor from "@/components/Sponsor.astro"
---

<WaveSeparator bottomColor="var(--color-theme-blue)" />

<section class="bg-theme-blue relative py-24 sm:py-32">
  <BubbleBackground />
  <div
    class="view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_15%_contain_25%] mx-auto max-w-7xl px-6 lg:px-8"
  >
    <h2 class="text-center text-lg/8 font-semibold text-white">
      ¡Con el apoyo de empresas increíbles! 🚀
    </h2>

    <!-- Categoría oficial -->
    <div class="mt-16 flex items-center justify-center gap-1">
      <div class="flex w-full items-center">
        <div class="border-primary-light flex-grow border-2 border-t"></div>
        <div class="mx-4">
          <span class="text-center font-semibold text-white"> Patrocinadores Oficiales </span>
        </div>
        <div class="border-primary-light flex-grow border-2 border-t"></div>
      </div>
    </div>
    <div class="mx-auto mt-10 flex flex-col items-center justify-center gap-10 md:flex-row">
      <Sponsor href="https://www.infojobs.net/" isOfficial>
        <InfoJobs
          title="InfoJobs"
          width="158"
          height="48"
          class="inline-block transition-transform group-hover:scale-110"
        />
      </Sponsor>
      <Sponsor href="https://www.cerave.es/" isOfficial>
        <Cerave
          title="Cerave"
          width="158"
          height="48"
          class="inline-block transition-transform group-hover:scale-110"
        />
      </Sponsor>
      <Sponsor
        href="https://www.dkny.com/?srsltid=AfmBOoqVKqaSRmOPiTAZbK0hT30uT3KlKRZB2Z4LW2nRgMqAOH0FvrJu"
        isOfficial
      >
        <Image
          src={Dkny}
          alt="DKNY"
          title="DKNY"
          width="452"
          height="324"
          class="inline-block w-24 transition-transform group-hover:scale-110"
        />
      </Sponsor>
    </div>
    <!-- Categoría colaboradores -->
    <div class="mt-16 flex items-center justify-center gap-1">
      <div class="flex w-full items-center">
        <div class="border-primary-light flex-grow border-2 border-t"></div>
        <div class="mx-4">
          <span class="text-center font-semibold text-white"> Colaboradores </span>
        </div>
        <div class="border-primary-light flex-grow border-2 border-t"></div>
      </div>
    </div>
    <div class="mx-auto mt-10 flex flex-col items-center justify-center gap-10 md:flex-row">
      <Sponsor href="https://www.donettes.com/">
        <Image
          src={Donettes}
          title="Donettes"
          alt="Donettes"
          width="158"
          height="48"
          class="inline-block transition-transform group-hover:scale-110"
        />
      </Sponsor>
      <Sponsor href="https://trolli.es/">
        <Image
          src={Trolli}
          title="Trolli"
          alt="Trolli"
          width="158"
          height="48"
          class="inline-block w-32 transition-transform group-hover:scale-110"
        />
      </Sponsor>
    </div>
  </div>
</section>
<WaveSeparator bottomColor="var(--color-primary)" />
