---
import InfoJobs from "@/assets/infojobs.svg"
import Cerave from "@/assets/cerave.svg"
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900">
      ¡Con el apoyo de empresas increíbles! 🚀
    </h2>
    <div
      class="text-primary mx-auto mt-10 flex max-w-lg flex-col items-center justify-center gap-4 md:flex-row"
    >
      <InfoJobs
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        title="InfoJobs"
        width="158"
        height="48"
      />
      <Cerave
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        title="Cerave"
        width="158"
        height="48"
      />
    </div>
  </div>
</div>
