---
import Marquee from '@/components/Marquee.astro'
---

<div class="w-full overflow-hidden relative">
  <div class="w-[110%] -rotate-3 bg-theme-green-light text-white -ml-2 my-[3%] mx-auto">
    <Marquee
      content={[
        'Entradas',
        'Entradas',
        'Entradas',
        'Entradas',
        'Entradas',
        'Entradas',
        'Entradas',
        'Entradas',
      ]}
    />
  </div>
</div>
