---
import Marquee from "@/components/Marquee.astro"
---

<section class="relative w-full overflow-hidden" id="tickets">
  <div class="bg-primary-light mx-auto my-[3%] -ml-2 w-[110%] -rotate-3 text-white">
    <Marquee
      content={[
        "Entradas",
        "Entradas",
        "Entradas",
        "Entradas",
        "Entradas",
        "Entradas",
        "Entradas",
        "Entradas",
      ]}
    />
  </div>
</section>
